<div id="statsContainer" class="mat-elevation-z8" fxLayout="column" >
    <div class="stats-header-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center">
        <span class="component-header">Server Stats</span>
        <button mat-button mat-mini-fab (click)="getStatsData()">
            <mat-icon>refresh</mat-icon>
        </button>
    </div>
    <div class="stats-info-container">
        <div *ngIf="statsLoaded">
            <h3 fxAlign="center">{{statsData?.date | date: 'medium'}}</h3>
            <div fxLayoutAlign="center">
                <rg-gauge-chart
                    [canvasWidth]="canvasWidth"
                    [needleValue]="needleValue"
                    [centralLabel]="centralLabel"
                    [options]="options"
                    [name]="name"
                    [bottomLabel]="bottomLabel"></rg-gauge-chart>
            </div>
        </div>
    </div>
    <div class="preloader-container" *ngIf="!statsLoaded" fxLayoutAlign="center center">
        <mat-progress-spinner
            color="primary"
            mode="indeterminate"
            >
        </mat-progress-spinner>
    </div>
</div>


